rust_cargo/target/debug/.fingerprint/hello-7f4c691cbcee27d8/bin-hello
rust_cargo/target/debug/.fingerprint/hello-7f4c691cbcee27d8/dep-bin-hello
rust_cargo/target/debug/hello.dSYM/Contents/Info.plist
rust_cargo/target/debug/hello.dSYM/Contents/Resources/DWARF/hello
